<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController" >
    <head>
        <title>Acme Veterinary Services</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        
    </head>
    <body>
        <div>
            <form name="vetform" class="form-group">
                <fieldset>
                    <legend>Owner Information</legend>
                    <input type="text" name="ownername" ng-model="owner.name" placeholder="owner name" required class="form-control">
                    <input type="text" name="id" ng-model="owner.id" placeholder="owner id/passport or driving licence" required class="form-control">
                    <input type="email" name="email" ng-model="owner.email" placeholder="owner email" required class="form-control">

                    <input type="tel" name="telephone" ng-model="owner.phone" placeholder="owner phone number" required class="form-control">
                </fieldset>
                <fieldset>
                    <legend>Pet Information</legend>
                    <input type="text" name ="petname" ng-model="owner.pets[0].name" placeholder="pet name" class="form-control">
                    <label>Select a pet type</label>
                    <select name="petType" ng-model="owner.pets[0].type" class="form-control" required>
                        <option>Dog</option>
                        <option>Cat</option>
                    </select>

                    <input type="datetime" name="dob" required ng-model="owner.pets[0].dob" class="form-control">
                    <textarea name="petnotes" ng-model="owner.pets[0].notes" class="form-control">Notes relating to the animal such as pre-existing condition</textarea>
                </fieldset>

                <input type="submit" value="save" ng-click="save()" class="btn btn-primary btn-lg">

                {{vetform.$valid}}
                {{owner}}
            </form>
            <script>
                        angular.module("myApp", []).controller("myController", function ($scope) {
                            $scope.owner = {name: '', email: '', phone: '', id: '', pets: [{name: '', type: '', notes: '', dob: ''}]};
                            $scope.save = () => {
                                if (localStorage ) {
                                    localStorage.setItem($scope.owner.id, $scope.owner);
                                }
                            }
                        });
                        function getPets(){
                         //
                        };
            </script>
        </div>
    </body>
</html>
